* {
  background: #d9d9d9;
}

.img-div img {
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 80%;
}
.image {
  background: white;
}
.img-caption {
  padding-top: 2%;
}
